<br/><p>Olá, <strong><?php echo $obj[0]['User']['name']; ?></strong></p>
<p>Esta é uma mensagem de confirmação de email, não é necessário responder.</p>
<p>Para concluir seu cadastro <strong><a href="localhost/sumtime/users/conclusion/<?php echo $obj[1]?>">clique aqui</a></strong></p>
<p>Atenciosamente,</p>
<p><strong>sumTime</strong></p>


