<div class="flash flash_success">
	<div class="alert alert-block alert-success">
		<button type='button' class="close" data-dismiss="alert">
			<i>x</i>
		</button>
		<i class="icon-ok green"></i>
		<?php echo $message ?>
	</div>
</div>