.sumtime_Header{
	height:60px;
	background: #4096ee; /* Old browsers */
	background: -moz-linear-gradient(top,  #4096ee 0%, #428bca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#428bca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4096ee 0%,#428bca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4096ee 0%,#428bca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4096ee 0%,#428bca 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4096ee 0%,#428bca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#428bca',GradientType=0 ); /* IE6-9 */
	top:0 !important;
	margin-bottom:20px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.27);

}

h1{
	background-color:transparent !important;
	color:white !important; 
	font-size:25px !important;
	font-weight:bold !important;
	letter-spacing:-1px !important;
	padding:0 !important;
	margin:14px !important;
}


.sumtime_Header > .logo_container{
	float:left;
	width:300px;
	height:60px;
	padding-left:30px;
	padding-top:12px;
}
.sumtime_Header > .avatar_container{
	height:51px;
	width:51px;
	background-color:transparent;
	float:right;
	margin-top:9px;
	margin-right:30px;
}

.sumtime_Header > .avatar_container > img {
	max-height:41px;
	max-width:41px;
	box-shadow:0px 0px 3px black;
}

.sumtime_Header > .header_UserArea{
	float:right;
	width:auto !important;
	min-width:20px;
	max-width:900px;
	height:60px;
	text-align:right;
	margin-top:2px;
}

.sumtime_Header > .header_UserArea > nav{
	width:100%;
	max-width:100%;
	font-size:15px;
	padding-top:8px;
	z-index:200;
	float:right;
}

nav ul ul {
	display: none;
	text-align:left;
	z-index:200;
}

nav a{
	color:white !important;
}

nav ul li:hover > ul {
	display: block;
}
nav ul {
	background-color:transparent; 
	padding: 0 0px;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
	content: ""; clear: both; display: block;
}

nav > ul > li > ul > li{
	z-index:200;
	width:150px;
	margin-top:5px;
	padding-left:10px;
}

nav > ul > li > ul{
	z-index:200;
	width:150px;
	text-align:left !important;
	list-style:none;
	margin:0;
	margin-right:-30px;
	margin-top:17px;
	padding:0;
	background: #4096ee; /* Old browsers */
	background: -moz-linear-gradient(top,  #4096ee 0%, #428bca 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4096ee), color-stop(100%,#428bca)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4096ee 0%,#428bca 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4096ee 0%,#428bca 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4096ee 0%,#428bca 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4096ee 0%,#428bca 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4096ee', endColorstr='#428bca',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.49);
	-moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.49);
	box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.49);
}
	
nav ul li:nth-child(1) {
	padding-top:10px;
}
	
nav ul li:last-child {
	padding-bottom:10px;
}
	
nav ul li:nth-child(0) {
	padding-bottom:10px;
}
	
.sumtime_Header > .header_UserArea_notLogged{
	float:right;
	width:auto;
	min-width:20px;
	max-width:900px;
	height:60px;
	text-align:right;
	padding-top:18px;
	padding-right:25px;
}

.sumtime_Header > .header_UserArea_notLogged > a{
	font-size:15px;
	color:white;
}
