<div id="header">
	<h1><a href="#">Adm</a></h1>
</div>

<div id="user-nav" class="navbar navbar-inverse">
	<ul class="nav btn-group">
		<li class="btn btn-inverse">
			<a title="" href="<?php echo $this->Html->url(array('controller'=>'users', 'action'=>'logout'));?>"><i class="icon icon-share-alt"></i> <span class="text">Sair</span></a>
		</li>
	</ul>
</div>